<h1>Course Module: <%= @course_module.title %></h1>

<p>Position: <%= @course_module.position %></p>

<p>Course: <%= @course_module.course.title %></p>

<p>Instructor: <%= @course_module.course.instructor.first_name %></p>

lessons:
<hr>

<% @lessons.each do |lesson| %>
    <%= render partial: "lessons/types/#{lesson.content_type}", locals: { lesson: lesson } %>
    <%= button_to "Destroy", course_course_module_lesson_path(@course_module.course_id, @course_module.id, lesson), method: :delete, data: { confirm: "Are you sure?" } %>
    <hr>
<% end %>


<%= link_to "New Lesson", select_lesson_type_course_course_module_lessons_path(@course_module.course_id, @course_module.id) %>
<%= link_to "Back", course_course_modules_path %>

<%= paginate @lessons %>

