<h1>Course Module: <%= @course_module.title %></h1>

<p>Position: <%= @course_module.position %></p>

<p>Course: <%= @course_module.course.title %></p>

<p>Instructor: <%= @course_module.course.instructor.first_name %></p>

lessons:
<hr>

<% @lessons.each do |lesson| %>
    <p><%= lesson.title %></p>
    <%= lesson.content %>
    <%= lesson.content_type %>
    <%= lesson.position %>
    <%= button_to "Destroy",
              course_course_module_lesson_path(@course_module.course_id,
                                               @course_module.id,
                                               lesson),
              method: :delete,
              data: { confirm: "Are you sure?" } %>

<%= link_to "Edit",
            edit_course_course_module_lesson_path(@course_module.course_id,
                                                  @course_module.id,
                                                  lesson) %>
    <hr>
<% end %>


<%= link_to "New Lesson", new_course_course_module_lesson_path(@course_module.course_id, @course_module.id) %>
<%= link_to "Back", course_course_modules_path %>

<%= paginate @lessons %>

