<h1>Lesson</h1>

<%= form_with(model: [ @course, @topic, @lesson ]) do |form| %>  
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <%= form.hidden_field :topic_id, value: @topic.id %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.hidden_field :content_type %>
  </div>

  <% if @lesson.content_type == "video" %>
    <div class="field">
      <%= form.label :video_url%>
      <%= form.text_field :video_url %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="field">
    <%= form.label :ends_at, "Lesson end date" %>
    <%= form.datetime_select :ends_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
