<h1>New Course</h1>

<%= form_with(model: @course) do |form| %>
    <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    <div class="field">
        <%= form.hidden_field :instructor_id, value: current_user.id %>
    </div>
    <div class="field">
        <%= form.label :public, "Public course?" %>
        <%= form.check_box :public %>
    </div>
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>
