<h1>Course: <%= @course.title %></h1>
<% if current_user&.teacher? && @course.instructor == current_user %>
    <%= link_to "New Topic", new_course_topic_path(@course) %>
    <%= link_to "Edit", edit_course_path(@course) %>
    <%= link_to "Invite", invite_course_path(@course), class: "btn btn-success" %>
<% end %>

<p>Description: <%= @course.description %></p>
<p>Instructor: <%= @course.instructor.first_name %></p>
<p>
  <span class="badge <%= @course.public ? "badge-public" : "badge-private" %>">
    <%= @course.public ? "Public" : "Private" %>
  </span>
</p>
<% @topics.each do |topic| %>
    <%= topic.title %>
    <%= link_to "Edit", edit_course_topic_path(topic.course_id, topic.id) %>
    <%= button_to "Destroy", course_topic_path(topic.course_id, topic.id), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
<br>

<%= link_to "Back to Courses", courses_path %>
